td {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: red solid 1px;
}
table {
  border: solid blue 3px;
  border-collapse: collapse;
}

.red {
  background-color: black;
}
.filter {
  filter: invert(100%);
}